<div class="row">
  <div class="col s4">
    <center>Seleccione el año deseado</center>
  </div>
</div>

<div class="row">
  <div class="col s4">
    <div class="input-field">
      <select class="browser-default" onchange={{action "select" value="target.value"}}>
        {{#each (numbersBetween 1920 2030) as |anio|}}
          {{#if (lt anioSeleccionado anio)}}
            <option value={{anio}}>{{anio}}</option>
          {{/if}}
          {{#if (eq anioSeleccionado anio)}}
            <option selected value={{anio}}>{{anio}}</option>
          {{/if}}
          {{#if (gt anioSeleccionado anio)}}
            <option value={{anio}}>{{anio}}</option>
          {{/if}}
        {{/each}}
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s4">
    <h5 class="center-align">
      <div class="collection teal lighten-2" style="height: 200px; overflow-y: scroll;">
        {{#each model as |feriado|}}
          <a class="collection-item">
            <center>
              {{feriado.dia}}/{{feriado.mes}}/{{feriado.anio}}
            </center>
          </a>
        {{/each}}
      </div>
    </h5>
  </div>
  <div class="col s6">
    {{outlet}}
  </div>
</div>

<div class="row">
  <div class="col s4">
    <center>
      {{#link-to 'calendarios.calendario.feriados.nuevo-feriado' class="btn btn-primary"}}
        Agregar Feriado
      {{/link-to}}
    </center>
  </div>
</div>