<div>
  <h3>
    <center>Nuevo Feriado</center>
  </h3>
  <form>
    <p>
    <div class="row">
      <div class="col s6">
        <center>
          <input class="with-gap" name="holidayType" id="dateHolidayButton" type="radio" onclick={{action
            "selectDateHoliday"}}/>
          <label for="dateHolidayButton">Día específico</label>
        </center>
      </div>
      <div class="col s3">

        {{input type="date" value=fechaFeriado}}
      </div>
    </div>
    </p>

    <p>
    <div class="row">
      <div class="col s6">
        <center>
          <input class="with-gap" name="holidayType" id="dayOfWeekHolidayButton" type="radio" onclick={{action
            "selectDayOfWeekHoliday"}}/>
          <label for="dayOfWeekHolidayButton">Dia de semana</label>
        </center>
      </div>
      <div class="col s3">
        <center>
          {{input type="text" value=diaDeSemanaFeriado}}
        </center>
      </div>
    </div>
    </p>

    <p>
    <div class="row">
      <div class="col s6">
        <center>
          <input class="with-gap" name="holidayType" id="dayOfMonthHolidayButton" type="radio" onclick={{action
            "selectDayOfMonthHoliday"}}/>
          <label for="dayOfMonthHolidayButton">Dia del mes</label>
        </center>
      </div>
      <div class="col s2">
        {{input type="text" value=mesDelDiaDeMesFeriado}}
      </div>
      <div class="col s1">
        {{input type="text" value=diaDelDiaDeMesFeriado }}
      </div>
    </div>
    </p>

    <p>
    <div class="row">
      <div class="col s3">
        {{input type="text" value=vigenciaDesde}}
      </div>
      <div class="col s3">
        {{input type="text" value=vigenciaHasta}}
      </div>
    </div>
    </p>
    <div>
      <center>
        <input type="button" value="Guardar" onclick={{action "submitHolidayRule"}}/>
      </center>
    </div>
  </form>
</div>