<div class="input-field">
  <select class="browser-default">
    {{#each values as |value|}}
      {{#if (lt selected value)}}
        <option {{action select value on="mouseDown"}}>{{value}}</option>
      {{/if}}
      {{#if (eq selected value)}}
        <option selected {{action select value on="mouseDown"}}>{{value}}</option>
      {{/if}}
      {{#if (gt selected value)}}
        <option {{action select value on="mouseDown"}}>{{value}}</option>
      {{/if}}
    {{/each}}
  </select>
</div>
